{% extends 'tienda_virtual/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-md-12">
    <div class="row">
        <div class="section-title">
            <h2>Carrito de Compras</h2>
        </div>	
        <div>
            <table>
                <tr>	
                    <td><b>Producto</b></td>
                    <td><b>Costo</b></td>
                    <td><b>Cantidad</b></td>
                </tr>
                
                {% for producto in productos %}
                    <tr> 
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.costo }}</td>
                        <td>{{ producto.cantidad }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>
    </div>
</div>
{% endblock %}